h1 .name {
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  font-weight: bold;
  color: purple;
}

p .name {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  font-weight: bold;
  color: gold;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.presume {
  text-align: left;
}

.tbody {
  display: flex;
  align-items: center;
  justify-content: center;
}