body {
    overflow: hidden;
}

#container {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: #000;
}

#header {
    height: 10%;
    width: 100%;
    float: right;
}

#leftpane {
    float: left;
    height: 90%;
    width: 50%;
    background-color: rgb(167, 98, 237);
    justify-content: center;
    align-items: center;
    display: flex;
}

#rightpane {
    float: left;
    height: 90%;
    width: 50%;
    background-color: rgb(240, 43, 185);
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    font-weight: bold;
    color: rgb(240, 43, 185);
    top: 0%;
    bottom: 0%;
    left: 0%;
}

button {
    top: 5px;
    bottom: 5px;
    right: 0px;
    height: 40px;
    width: 250px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-weight: normal;
}

button:hover {
    color: yellow;
}

button:clicked {
    color: blue;
}

#pic1 {
    max-height: 97%;
    max-width: 97%;
    width: 97%;
}

#pic2 {
    max-height: 97%;
    max-width: 97%;
    width: 97%;
}